.header {
    background: #444444;
    color: white;
}
.inside {
    width: 90%;
    margin: 0 auto;
}
.food{
    display: inline-block;
    text-align: center;
    margin-right: 4px;
}
.food-image{
    display: block;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}
.food-image-inline {
    display: inline-block;
}
.food-description {
    display: inline-block;
    height: 100px;
    vertical-align: top;
}
.space {
    margin: 5px 0;
}
