<div class="container" style="width: 25%">
    <form role="form" style="float: left; margin-right: 5%">
        <div class="form-group" ng-repeat="dish in [1,2,3,4,5]">
            <label>Main Dishes day {{$index + 1}}</label>
            <input class="form-control">
            <input class="form-control">
            <input class="form-control">
        </div>
    </form>
    <form role="form" style="float: left">
        <div class="form-group" ng-repeat="salad in [1,2,3,4,5]">
            <label>Salads {{$index + 1}}</label>
            <input class="form-control">
            <input class="form-control">
            <input class="form-control">
        </div>
    </form>
    <center style="margin-right: 5%">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </center>
</div>