<div class="container" ng-controller="signUpCtrl" style="width: 25%">
    <form role="form" name="signUpForm" novalidate id="signUpForm" ng-submit="signUpForm.$valid && signUp()">
        <div class="form-group" ng-class="{'has-error':signUpForm.email.$invalid && signUpForm.$submitted}">
            <label for="email">Email address:</label>
             <input type="email" class="form-control" name="email" id="email" ng-model="user.email" required>
         <span style="color:red" ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
             <p class="help-block" ng-show="signUpForm.email.$error.required && signUpForm.$submitted">Email is required.</p>
             <p class="help-block" ng-show="signUpForm.email.$error.email && signUpForm.$submitted">Invalid email address.</p>
         </span>
        </div>

        <div class="form-group" ng-class="{'has-error':signUpForm.firstName.$invalid && signUpForm.$submitted}">
            <label>First name</label>
             <input type="text" class="form-control" name="firstName" ng-model="user.firstName" required>
         <span style="color:red" ng-show="signUpForm.firstName.$dirty && signUpForm.firstName.$invalid">
            <p class="help-block" ng-show="signUpForm.firstName.$error.required && signUpForm.$submitted">First name is required.</p>
         </span>
        </div>

        <div class="form-group" ng-class="{'has-error':signUpForm.lastName.$invalid && signUpForm.$submitted}">
            <label>Last name</label>
            <input type="text" class="form-control" name="lastName" ng-model="user.lastName" required>
         <span style="color:red" ng-if="signUpForm.lastName.$dirty && signUpForm.lastName.$invalid">
             <p class="help-block" ng-if="signUpForm.lastName.$error.required && signUpForm.$submitted">Last name is required.</p>
         </span>
        </div>

        <div class="form-group" ng-class="{'has-error':signUpForm.password.$invalid && signUpForm.$submitted}">
            <label>Password</label>
            <input class="form-control" type="password" name="password" required ng-minlength="6" ng-maxlength="20"
                   ng-model="Password"/>
            <span style="color: red">
              <p class="help-block" ng-if="signUpForm.password.$error.minlength && signUpForm.$submitted">Minimum characters length is 6</p>
              <p class="help-block" ng-if="signUpForm.password.$error.maxlength && signUpForm.$submitted">Maximum characters length is 20</p>
             </span>
        </div>

        <div class="form-group" ng-class="{'has-error':signUpForm.passwordCompare.$invalid  && signUpForm.$submitted}">
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="passwordCompare" id="passwordCompare" required ng-model="PasswordCompare" ng-match="Password"/>
            <span style="color:red">
                <p class="help-block" ng-if="signUpForm.$submitted && !signUpForm.passwordCompare.$error.required &&
                  !signUpForm.passwordCompare.$valid">Passwords do not match</p>
            </span>
        </div>
        <button class="btn btn-default">Sign Up</button>
        <a href="http://localhost:8000/#/signin">Sign In</a>
    </form>
</div>