<div class="tab-pane fade in active" ng-init="main.init()">
    <calendar start-date="fromDate" on-change="loadLunches()"></calendar>
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12" ng-repeat="date in dates">{{date | date : 'EEEE'}}
            <div>
                <a class="btn btn-group" href="#/supplier/dish/{{date | date: 'yyyy'}}/{{date | date: 'MM'}}/{{date | date: 'dd'}}/">Dishes</a>
                <a class="btn btn-group" href="#/supplier/salad/{{date | date: 'yyyy'}}/{{date | date: 'MM'}}/{{date | date: 'dd'}}/">Salads</a>
            </div>
        </div>
    </div>
</div>
